<div>
    Это текст из частичного представления.
    @Html.ActionLink("Ссылка на метод действия Index", "Index", "Home")
</div>
<div>
    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
</div>
