@{Html.BeginForm();}
<h3>Input you login and password</h3>
<fieldset>
    <div class="mb-3">

        <label class="form-label">Login</label>
        <input type="text" class="form-control" name="Login" id="Login" />
    </div>
    <div>
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="Password" id="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</fieldset>
@{Html.EndForm();}